@font-face {
    font-family: 'Simplifica';
    src: url('../fonts/Simplifica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansThin.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansThinItalic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansHeavy.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/UniSansHeavyItalic.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
}

span.line_wrap {
    position:relative;
    display:inline-block;
}
span.line {
    display:inline-block;
    position:absolute;
    left:0;
    top:50%;
    width:0;
    border-top:2px solid black;
    -webkit-transition: width 0.25s ease-out;
}

.definition {
    font-size: 28px !important;
    margin-left: 15px !important;
}

.example {
    font-size: 28px !important;
    letter-spacing: .5px !important;
    line-height: 1.1;
}
